*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --background-primary: #F4F5FB;
  --background-secondary: #FFFFFF;
  --color-brand: #CA3884;
  --color-brand-hover:#A52C6B;
  --color-danger:#C93847;
  --content-primary:#080B12;
  --content-secondary:#374151;
  --content-tertiary:#9CA3AF;
  --always-white:#FFFFFF;
  --border-primary:#D1D5DB;
  --border-hover:#B9C2D0;
  --ff-base: "Inter", sans-serif;
}

body{
  background-color: var(--background-primary);
  margin: auto;
  font-family: var(--ff-base);

  & img[src*="logo"] {
    display: block;
    margin: 1rem auto 3rem;
    text-align: center;
  }
}

.back{
  display: flex;
  align-items: center;
  justify-content:  flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  color: var(--color-brand)
}

h1{
  margin-bottom: 2.75rem;
}

.container{
  max-width: 42rem ;
  background-color: rgb(240, 182, 222);
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
}

.addList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2.5rem;

  & input{
    padding: 0.75rem 1.5rem;
    background-color: var(--background-secondary);
    border-radius: 0.75rem;
    font-family: var(--ff-base);
    width: 100%;
    border: 1px solid var(--border-primary);
    
    
    &::placeholder{
      color: var(--content-tertiary);
      font-weight: 500;
      font-size: 1rem;
    }

  }

  & button{
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-brand);
    border: none;
    font-family: var(--ff-base);
    white-space: nowrap;
    color: var(--always-white);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
  }
}

.listContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-secondary);
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  }

  .itemListName{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .alert{
    background-color: var(--color-danger);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;

    & .alertIcon{
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }

  footer{
    margin-top: 1.5rem;
  }

  img, input[type="checkbox"]{
    cursor: pointer;
  }

   .hide{
    display: none;
  }

  @media (width<= 700px)  {
  .container{
  max-width: 20rem ;

  & h1{
    font-size: 1.5rem;
  }

  & .addList{
    flex-direction: column;

    & button {
      width: 100%;
    }
  }



}





  }
 
